<!DOCTYPE html>
<html>
<head>
  <title>Vimo</title>
  <%= stylesheet_link_tag    "vimo/application", media: "all" %>
  <%= javascript_include_tag "vimo/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
